<link rel="stylesheet" href="/components/pong/pong.css" />
<div id="mainArea" class="d-flex justify-content-center px-5 mt-5">
    <div class="w-100">
        <div id="userRoomNav" class="row mx-auto mb-3">
            <div class="nameInput col ps-0">
                <input
                    type="text"
                    id="playerName"
                    class="col-5 form-control"
                    placeholder="Player Name"
                />
            </div>
            <div class="roomInput col ps-0">
                <input
                    type="text"
                    id="roomCode"
                    class="col-5 form-control"
                    placeholder="Room Code"
                />
            </div>
            <button id="createRoomBtn" class="col-2 btn btn-primary mx-3">
                Create Game
            </button>
            <button id="joinRoomBtn" class="col-2 btn btn-primary">Join Game</button>
        </div>
        <div class="row g-0 mx-auto">
            <div class="card mb-3">
                <canvas
                    id="gameArea"
                    width="800"
                    height="600"
                    class="card p-0"
                ></canvas>
            </div>
            <div id="scoreboard" class="row justify-content-around mx-auto px-0">
                <div class="card col playerCard ps-0">
                    <div class="row g-0 h-100">
                        <div
                            id="player1Image"
                            class="col-md-5 bg-white h-100 overflow-hidden rounded-start"
                        >
                            <img
                                src="static/42_Logo.png"
                                class="h-100 w-100 object-fit-cover rounded-start"
                            />
                        </div>
                        <div class="col-md-6 h-100">
                            <div class="card-body">
                                <div class="col px-0">
                                    <span id="player1Name">Player 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-center m-auto">
                    <div class="row">
                        <div
                            id="player1Score"
                            class="playerScore col-3 text-start ms-2 fs-1"
                        >
                            0
                        </div>
                        <div
                            id="playerStatus"
                            class="col w-100 text-center my-auto fs-5"
                        ></div>
                        <div
                            id="player2Score"
                            class="playerScore col-3 text-end me-2 fs-1"
                        >
                            0
                        </div>
                    </div>
                </div>
                <div class="card col playerCard pe-0">
                    <div class="row g-0 h-100">
                        <div class="col-md-7 h-100">
                            <div class="card-body">
                                <div class="col px-0 text-end">
                                    <span id="player2Name">Player 2</span>
                                </div>
                            </div>
                        </div>
                        <div
                            id="player2Image"
                            class="col-md-5 bg-white rounded-end h-100"
                        >
                            <img
                                src="static/42_Logo.png"
                                class="h-100 w-100 object-fit-cover"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
