.tournamentGame {
    width: 100%;
}

.playerCard {
    color: black;
    /* padding-top: 0.3em;
    padding-bottom: 0.3em; */
    padding: 0;
    background-color: azure;
    font-weight: 400;
    font-size: 0.78rem;
    font-family: "Kanit", sans-serif;
    height: 1.8rem;
    background-color: #dddddd;
}

.playerCard:hover {
    background-color: #eeeeee;
}

.playerWinner {
    font-size: 0.8rem;
    background-color: #80abe9;
    font-weight: bold;
}

.playerWinner:hover {
    background-color: #91b6eb;
}

.playerScore {
    border-left: 1px solid black;
    padding: 0.3rem 0.6rem;
    width: 2rem;
    height: 1.8rem;
    background-color: #44444466;
}

.playerName {
    padding: 0.3rem;
    margin-left: 0.6rem;
}

