<link rel="stylesheet" href="/components/bracket-game/bracket-game.css" />
<div class="card tournamentGame">
    <ul class="list-group list-group-flush">
        <li class="list-group-item playerCard">
            <div class="d-flex flex-row justify-content-between">
                <div class="text-start flex-column playerName"></div>
                <div class="text-center flex-column playerScore"></div>
            </div>
        </li>
        <li class="list-group-item playerCard">
            <div class="d-flex flex-row justify-content-between">
                <div class="text-start flex-column playerName"></div>
                <div class="text-center flex-column playerScore"></div>
            </div>
        </li>
    </ul>
</div>
