#navNotifications .dropdown-toggle::after {
    display: none;
}

.profileAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.profileAvatar img {
    display: inline;
    margin: 0 auto;
}

.dropdown-toggle::after {
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns:
        1fr
        min(1200px, 100%)
        1fr;
}

.wrapper > * {
    grid-column: 2;
}