.tournamentChat {
    flex-grow: 2;
    flex-basis: 500px;
}

.tournamentList {
    flex-grow: 1;
    min-width: 400px;
}

.tournamentBracket {
    max-height: max(600px, 80vh);
}

.bracketContent {
    overflow: scroll;
}

.bracketContent::-webkit-scrollbar {
    display: none;
}