.tournamentChat {
    flex-grow: 1;
    flex-basis: 500px;
}

.tournamentList {
    flex-basis: 400px;
}

.tournamentBracket {
    max-height: 80vh;
}

.bracketContent {
    overflow: scroll;
}

.bracketContent::-webkit-scrollbar {
    display: none;
}