.friendlistItem {
    min-width: 150px;
    height: 60px;
    background-color: #232629;
}

.friendlistItem:hover {
    background-color: #2a2d30;
}

.friendlistScroll {
    max-height: 600px;
    overflow: auto;
}

.friendStatus {
    font-size: 0.8em;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

.scroll::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #555555;
	border: 0;
}

.friendIcon {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 0.5em;
    background-color: #272b2f;
}

.friendIcon:hover {
    background-color: #555b61;
}

.friendIcon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.friendChat {
    height: auto;
}

#friendList {
    min-height: 250px;
}
