<div id="mainArea" class="d-flex justify-content-center px-5 mt-5">
    <div class="col-10">
        <div id="userRoomNav" class="row mx-auto mb-3">
            <div class="nameInput col">
                <input
                    type="text"
                    id="playerName"
                    class="col-5 form-control"
                    placeholder="Player Name"
                />
            </div>
            <div class="roomInput col">
                <input
                    type="text"
                    id="roomCode"
                    class="col-5 form-control"
                    placeholder="Room Code"
                />
            </div>
            <button id="createRoomBtn" class="col-2 btn btn-primary mx-3">
                Create
            </button>
            <button id="joinRoomBtn" class="col-2 btn btn-primary">Join</button>
        </div>
        <div id="row">
            <div id="gameRoomTitle" class="text-center mx-auto fs-4 mb-2"></div>
        </div>
        <div class="row g-0 mx-auto">
            <canvas
                id="gameArea"
                width="800"
                height="600"
                style="border: 1px solid #000000"
            ></canvas>
            <div id="scoreboard" class="row justify-content-around mx-auto px-0">
                <div id="player1Score" class="col px-0 fs-2">Player 1 : 0</div>
                <div id="player2Score" class="col px-0 fs-2 text-end">Player 2 : 0</div>
            </div>
        </div>
    </div>
</div>
