<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <pong-game></pong-game>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-8 me-4">
                    <div class="d-flex flex-column tournamentChat">
                        <chat-room group-chat></chat-room>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column tournamentList">
                        <friend-list title="Players"></friend-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
