<div id="mainArea" class="d-flex justify-content-center px-5 mt-5">
    <div class="col-10">
        <div id="userRoomNav" class="row mx-auto mb-3">
            <div class="nameInput col">
                <input
                    type="text"
                    id="playerName"
                    class="col-5 form-control"
                    placeholder="Player Name"
                />
            </div>
            <div class="roomInput col">
                <input
                    type="text"
                    id="roomCode"
                    class="col-5 form-control"
                    placeholder="Room Code"
                />
            </div>
            <button id="createRoomBtn" class="col-2 btn btn-primary mx-3">
                Create
            </button>
            <button id="joinRoomBtn" class="col-2 btn btn-primary">Join</button>
        </div>
        <div id="row">
            <div id="gameRoomTitle" class="text-center mx-auto fs-4 mb-2"></div>
        </div>
        <div class="row g-0 mx-auto">
            <div class="card mb-3">
                <canvas
                    id="gameArea"
                    width="800"
                    height="600"
                    class="card-body p-0"
                    style="border-radius: 0.5em"
                ></canvas>
            </div>
            <div id="scoreboard" class="row justify-content-around mx-auto px-0">
                <div class="card col">
                    <div class="card-body">
                        <div id="player1Score" class="col px-0 fs-4">Player 1 : 0</div>
                    </div>
                </div>
                <div id="playerStatus" class="col text-center my-auto fs-5"></div>
                <div class="card col">
                    <div class="card-body">
                        <div id="player2Score" class="col px-0 fs-4 text-end">
                            Player 2 : 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
