<div class="row justify-content-center">
    <div class="card col-6 p-0 border-secondary mt-5">
        <div class="card-header text-center fs-4">Login</div>
        <form id="loginForm" class="card-body text-center mx-5">
            <div class="row">
                <input
                    id="username"
                    class="form-control mt-3 text-center"
                    type="text"
                    placeholder="Username"
                    aria-label="username"
                />
            </div>
            <div class="row">
                <input
                    id="password"
                    class="form-control mt-3 text-center"
                    type="password"
                    placeholder="Password"
                    aria-label="password"
                />
            </div>
            <div class="row justify-content-between pb-2">
                <button id="loginUser" class="btn btn-primary mt-4 col-5" type="submit">Login</button>
                <button id="login42" class="btn btn-secondary mt-4 col-5" type="reset">Reset</button>
                <button class="btn btn-primary mt-4 col-12" type="submit">Login With 42</button>
            </div>
        </form>
    </div>
</div>
