<div class="d-flex justify-content-center">
    <div class="card avatarUpload text-center">
        <div class="card-header">Profile Image</div>
        <div class="card-body p-3">
            <form>
                <input accept="image/*" type="file" id="imgInput" />
            </form>
            <img
                id="imagePreview"
                src="#"
                alt="Your profile image"
                class="d-none my-3"
            />
            <button class="btn btn-primary" id="uploadBtn">Upload</button>
        </div>
    </div>
</div>
